<div class="form-group row">
<h2>DISCLAIMER</h2>

<p>Bacon ipsum dolor amet pork chop kielbasa hamburger leberkas, capicola chicken short loin pig biltong pork loin shank prosciutto. Shoulder swine shank pork belly t-bone tenderloin short ribs. Brisket salami swine meatloaf beef rump. Venison ribeye landjaeger, rump pig kevin spare ribs picanha swine chicken meatloaf pork loin. Bresaola buffalo pig, cupim ham turducken prosciutto chicken filet mignon ground round.</p>

<p>Cow venison buffalo pork belly. Corned beef salami chicken kielbasa landjaeger. Pancetta doner andouille sausage short loin tenderloin. Strip steak biltong pork chop ground round rump chuck kevin brisket. Ham hock alcatra venison, kevin beef spare ribs brisket strip steak corned beef meatloaf turkey shank biltong bacon. Frankfurter bresaola chicken tongue meatloaf cupim. Buffalo leberkas salami prosciutto tenderloin pork belly shankle flank capicola sausage pork chop landjaeger tongue.</p>

<%= label_tag :disclaimer, "I Understand" %>
<%= check_box_tag :disclaimer %>
</div>
