<div class="form-group row">
  <h2 class="form-group row">Eligibility Page</h2>
  <p>Bacon ipsum dolor amet chicken hamburger bresaola, tail salami short loin brisket kielbasa turkey beef ribs fatback picanha. Prosciutto ham hock porchetta t-bone landjaeger short ribs. Chuck doner meatloaf, ground round cow short loin biltong. Tail pork chop chicken pastrami, swine beef frankfurter hamburger turducken sirloin biltong tongue shoulder salami alcatra. Ribeye strip steak filet mignon rump prosciutto salami pork loin, andouille buffalo tri-tip short ribs chicken frankfurter. Pork loin ham beef ribs pastrami corned beef hamburger alcatra tongue burgdoggen.</p>
  <%= label_tag :eligibility, "I am eligible" %>
  <%= check_box_tag :eligibility %>
</div>
