<%= form_for ([@user, @trip]) do |f| %>
  <h2 class="form-group row">Book A Trip</h2>

  <%= render "#{@trip.current_step}_step", f: f %>

  <%= f.submit 'See options!', :class => "btn btn-primary form-group row", :id => "see_options", data: { disable_with: false } %>

  <div id="coverage_results_container">
  </div>

<% end %>
