<h2>Policies go here!</h2>

<%= @days %>

<ul class="list-group">
  <% @policies.each do |policy| %>
    <li class="list-group-item"><%= policy.company.name %></li>
    <li class="list-group-item"><%= policy[@coverage] %>%</li>
    <li class="list-group-item"><input type="submit" value="Choose Plan" form="new_trip"></li>
  <% end %>
</ul>
